<h2>Hilfe</h2>

<mat-dialog-content>
    <p>Um einen Kampfbericht zu analysieren, muss der Quelltext der Detailansicht des KBs in das große Eingabefeld
        oben auf der Seite kopiert werden.</p>

    <img src="/assets/images/details_anzeigen.png">
    <span class="mat-caption">Details des Kampfberichtes anzeigen</span>

    <img src="/assets/images/detail_ansicht.png">
    <span class="mat-caption">Seitenquelltext anzeigen</span>

    <img src="/assets/images/quelltext.png">
    <span class="mat-caption">Alles kopieren</span>

    <img src="assets/images/input.png">
    <span class="mat-caption">Einfügen und Abschicken</span>

    <p>Einheiten werden nach ihrem Namen zusammengefasst.</p>
    <p>Durch Klick auf die Spaltennamen kann nach den jeweiligen Werten sortiert werden. Über das Eingabefeld direkt
        über
        der Ergebnistabelle kann nach Einträgen gefiltert werden. Filtert man z.B. nach "Monster" so werden nur
        Einheiten
        des Eigentümers "Monster" angezeigt (und alle Einheiten, die "Monster" im Namen haben).</p>
</mat-dialog-content>
