<div class="header">
    <h1 class="title">Demonlords KB Analyzer by Skinny</h1>
    <button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
    </button>
</div>
<textarea #input class="input" placeholder="KB Quelltext"></textarea>
<button (click)="submit(input.value)" class="submit" color="primary" mat-raised-button>Submit</button>


<div class="results">
    <app-analysis-result [data]="flattenedUnits" class="analysis"></app-analysis-result>

    <div class="stored">
        <h2>Gespeicherte Berichte</h2>
        <mat-list>
            <mat-list-item
                (click)="showKB(kb)"
                *ngFor="let kb of storedKBs; trackBy subject">
                <div class="kb-date" mat-line>{{kb.date | formatDate}}</div>
                <div class="kb-subject" mat-line>{{kb.subject}}</div>
            </mat-list-item>
        </mat-list>
    </div>
</div>


<mat-menu #menu="matMenu">
    <button (click)="openHelp()" mat-menu-item>
        <mat-icon>help_outline</mat-icon>
        <span>Hilfe</span>
    </button>
    <button (click)="openAbout()" mat-menu-item>
        <mat-icon>info</mat-icon>
        <span>About</span>
    </button>
</mat-menu>
