<h1>Demonlords KB Analyzer</h1>

<textarea #input class="input" placeholder="KB Quelltext"></textarea>
<button (click)="submit(input.value)" class="submit" color="primary" mat-raised-button>Submit</button>


<div class="results">
    <app-analysis-result [data]="flattenedUnits" class="analysis"></app-analysis-result>

    <div class="stored">
        <h2>Gespeicherte Berichte</h2>
        <mat-list>
            <mat-list-item
                (click)="showKB(kb)"
                *ngFor="let kb of storedKBs; trackBy subject">
                <div class="kb-date" mat-line>{{kb.date | formatDate}}</div>
                <div class="kb-subject" mat-line>{{kb.subject}}</div>
            </mat-list-item>
        </mat-list>
    </div>
</div>
