<h2>About</h2>

<p>Diese Anwendung habe ich für mich und entsprechend meinen Anforderungen an einem Nachmittag runtergehackt. Erwartet
    bitte nicht, dass alles funktioniert.</p>
<p>Ein paar Ideen, das Tool zu erweitern, habe ich noch (z.B. Schaden pro KP, welche Einheiten sind am Ende einer Runde
    noch am Leben, usw), weiß aber noch nicht, ob und wann ich sie umsetze. Vorschläge nehme ich gerne entgegen.</p>
<p>Nachdem ich im Discord darum gebeten wurde, habe ich es auf die Schnelle beim erstbesten kostenlosen Hoster
    hochgeladen. Ich gebe keine Versprechen darüber ab, wie lange es hier verfügbar ist. Ich überlege mir noch, ob ich
    den Quellcode z.B. auf GitHub zur Verfügung stellen möchte. Bei Interesse bitte eine IGM an <span
        class="mat-body-strong">Skinny</span>.</p>
